.container-fluid {
  min-height: 542px;
  background-image: 
    linear-gradient(to bottom, hsla(0,0%,0%,.2), hsla(0,0%,0%,.3)),
    url(../img/mobile-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .container-fluid {
    background-image: 
      linear-gradient(to bottom, hsla(0,0%,0%,.2), hsla(0,0%,0%,.3)),
      url(../img/tablet-banner.jpg);
  }
}
@media screen and (min-width: 748px) {
  .container-fluid {
    min-height: 700px;
  }
}
@media (min-width: 940px) {
  .container-fluid {
    min-height: 700px;
    background-image: 
      linear-gradient(to bottom, hsla(0,0%,0%,.2), hsla(0,0%,0%,.3)),
      url(../img/full-banner.png);
  }
}  
